{%- doc -%}
  Renders an "Add to cart" button with dynamic text and state. It shows different text based on whether the product can be added to the cart and provides visual feedback when an item is added.

  @param {boolean} can_add_to_cart - Whether the product can be added to the cart.
  @param {string} add_to_cart_text - The text to display on the button.
  @param {object} product - The product object to be added to the cart.
  @param {boolean} [icon_only_on_mobile] - If `true`, only the icon is shown on mobile devices.
  @param {string} [class] - Additional CSS classes to apply to the button.
  @param {string} [id] - The ID attribute for the button.
{%- enddoc -%}

{%- liquid
  assign default_add_to_cart_text = 'actions.add_to_cart' | t
  assign product_variant_media = product.selected_or_first_available_variant.featured_media.preview_image | image_url: width: 100
  if product.selected_or_first_available_variant.featured_media.preview_image == blank
    assign product_variant_media = product.featured_media.preview_image | image_url: width: 100
  endif
-%}

<add-to-cart-component
  ref="addToCartButtonContainer"
  data-product-variant-media="{{ product_variant_media }}"
>
  <button
    id="{{ id }}"
    type="submit"
    name="add"
    ref="addToCartButton"
    on:click="/handleClick"
    class="button {{ class }} add-to-cart-animated"
    {% unless can_add_to_cart %}
      disabled
    {% endunless %}
  >
    <span class="add-to-cart-text">
      {% if can_add_to_cart %}
        <span class="svg-wrapper add-to-cart-icon">
          {{- 'icon-add-to-cart.svg' | inline_asset_content -}}
        </span>
      {% endif %}
      <span class="add-to-cart-text__content{% if icon_only_on_mobile %} is-visually-hidden-mobile{% endif %}">
        {{- add_to_cart_text | default: default_add_to_cart_text -}}
      </span>
    </span>
    
    <svg class="morph" viewBox="0 0 64 13">
        <path d="M0 12C6 12 17 12 32 12C47.9024 12 58 12 64 12V13H0V12Z" />
    </svg>
    
    <div class="shirt">
        <svg class="first" viewBox="0 0 24 24">
            <path d="M4.99997 3L8.99997 1.5C8.99997 1.5 10.6901 3 12 3C13.3098 3 15 1.5 15 1.5L19 3L22.5 8L19.5 10.5L19 9.5L17.1781 18.6093C17.062 19.1901 16.778 19.7249 16.3351 20.1181C15.4265 20.925 13.7133 22.3147 12 23C10.2868 22.3147 8.57355 20.925 7.66487 20.1181C7.22198 19.7249 6.93798 19.1901 6.82183 18.6093L4.99997 9.5L4.5 10.5L1.5 8L4.99997 3Z" />
            <g>
                <path d="M16.3516 9.65383H14.3484V7.83652H14.1742V9.8269H16.5258V7.83652H16.3516V9.65383Z" />
                <path d="M14.5225 6.01934V7.66357H14.6967V7.4905H14.8186V7.66357H14.9928V6.01934H14.8186V7.31742H14.6967V6.01934H14.5225Z" />
                <path d="M14.1742 5.67319V7.66357H14.3484V5.84627H16.3516V7.66357H16.5258V5.67319H14.1742Z" />
                <path d="M15.707 9.48071H15.8812V9.28084L16.0032 9.4807V9.48071H16.1774V7.83648H16.0032V9.14683L15.8812 8.94697V7.83648H15.707V9.48071Z" />
                <path d="M15.5852 6.01931H15.1149V6.19238H15.5852V6.01931Z" />
                <path d="M15.707 6.01934V7.66357H15.8812V7.46371L16.0032 7.66357H16.1774V6.01934H16.0032V7.32969L15.8812 7.12984V6.01934H15.707Z" />
                <path d="M15.411 7.31742H15.2891V6.53857H15.411V7.31742ZM15.1149 7.66357H15.2891V7.4905H15.411V7.66357H15.5852V6.3655H15.1149V7.66357Z" />
                <path d="M14.5225 8.69756L14.8186 9.18291V9.30763H14.6967V9.13455H14.5225V9.48071H14.9928V9.13456V9.13455L14.6967 8.64917V8.00956H14.8186V8.6586H14.9928V7.83648H14.5225V8.69756Z" />
                <path d="M15.411 9.30763H15.2891V8.00956H15.411V9.30763ZM15.1149 9.48071H15.5852V7.83648H15.1149V9.48071Z" />
            </g>
        </svg>
        <svg class="second" viewBox="0 0 24 24">
            <path d="M4.99997 3L8.99997 1.5C8.99997 1.5 10.6901 3 12 3C13.3098 3 15 1.5 15 1.5L19 3L22.5 8L19.5 10.5L19 9.5L17.1781 18.6093C17.062 19.1901 16.778 19.7249 16.3351 20.1181C15.4265 20.925 13.7133 22.3147 12 23C10.2868 22.3147 8.57355 20.925 7.66487 20.1181C7.22198 19.7249 6.93798 19.1901 6.82183 18.6093L4.99997 9.5L4.5 10.5L1.5 8L4.99997 3Z" />
            <g>
                <path d="M16.3516 9.65383H14.3484V7.83652H14.1742V9.8269H16.5258V7.83652H16.3516V9.65383Z" />
                <path d="M14.5225 6.01934V7.66357H14.6967V7.4905H14.8186V7.66357H14.9928V6.01934H14.8186V7.31742H14.6967V6.01934H14.5225Z" />
                <path d="M14.1742 5.67319V7.66357H14.3484V5.84627H16.3516V7.66357H16.5258V5.67319H14.1742Z" />
                <path d="M15.707 9.48071H15.8812V9.28084L16.0032 9.4807V9.48071H16.1774V7.83648H16.0032V9.14683L15.8812 8.94697V7.83648H15.707V9.48071Z" />
                <path d="M15.5852 6.01931H15.1149V6.19238H15.5852V6.01931Z" />
                <path d="M15.707 6.01934V7.66357H15.8812V7.46371L16.0032 7.66357H16.1774V6.01934H16.0032V7.32969L15.8812 7.12984V6.01934H15.707Z" />
                <path d="M15.411 7.31742H15.2891V6.53857H15.411V7.31742ZM15.1149 7.66357H15.2891V7.4905H15.411V7.66357H15.5852V6.3655H15.1149V7.66357Z" />
                <path d="M14.5225 8.69756L14.8186 9.18291V9.30763H14.6967V9.13455H14.5225V9.48071H14.9928V9.13456V9.13455L14.6967 8.64917V8.00956H14.8186V8.6586H14.9928V7.83648H14.5225V8.69756Z" />
                <path d="M15.411 9.30763H15.2891V8.00956H15.411V9.30763ZM15.1149 9.48071H15.5852V7.83648H15.1149V9.48071Z" />
            </g>
        </svg>
    </div>
    
    <div class="cart">
        <svg viewBox="0 0 36 26">
            <path d="M1 2.5H6L10 18.5H25.5L28.5 7.5L7.5 7.5" class="shape" />
            <path d="M11.5 25C12.6046 25 13.5 24.1046 13.5 23C13.5 21.8954 12.6046 21 11.5 21C10.3954 21 9.5 21.8954 9.5 23C9.5 24.1046 10.3954 25 11.5 25Z" class="wheel" />
            <path d="M24 25C25.1046 25 26 24.1046 26 23C26 21.8954 25.1046 21 24 21C22.8954 21 22 21.8954 22 23C22.8954 25 24 25Z" class="wheel" />
            <path d="M14.5 13.5L16.5 15.5L21.5 10.5" class="tick" />
        </svg>
    </div>

    <span
      aria-hidden="true"
      class="add-to-cart-text--added"
    >
      <span class="svg-wrapper add-to-cart-icon--added">
        {{- 'icon-checkmark.svg' | inline_asset_content -}}
      </span>
      <span class="{% if icon_only_on_mobile %}is-visually-hidden-mobile{% endif %}">
        {{- 'actions.added' | t -}}
      </span>
    </span>
  </button>
</add-to-cart-component>

{% stylesheet %}
  .add-to-cart-text {
    display: flex;
    gap: var(--gap-2xs);
    align-items: center;
    justify-content: center;
    animation-duration: var(--animation-speed);
    animation-timing-function: var(--animation-easing);
    animation-fill-mode: forwards;
    transition: opacity var(--animation-speed) var(--animation-easing);
  }

  .atc-added .add-to-cart-text {
    animation-name: atc-slide-out;
  }

  .add-to-cart-text--added {
    position: absolute;
    inset: 0;
    animation-duration: var(--animation-speed);
    animation-timing-function: var(--animation-easing);
    animation-fill-mode: forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: width var(--animation-speed) var(--animation-easing),
      opacity var(--animation-speed) var(--animation-easing);
  }

  .atc-added .add-to-cart-text--added {
    animation-name: atc-slide-in;
  }

  @keyframes atc-slide-in {
    from {
      opacity: 0;
      transform: translateY(0.5em);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes atc-slide-out {
    from {
      transform: translateY(0);
      opacity: 1;
    }

    to {
      transform: translateY(-1em);
      opacity: 0;
    }
  }

  /* Estilos para a animação Add to Cart personalizada */
  .add-to-cart-animated {
    --background-default: var(--color-base-button-background);
    --background-hover: var(--color-base-button-background-hover);
    --background-scale: 1;
    --text-color: var(--color-base-button-text);
    --text-o: 1;
    --text-x: 0px;
    --cart: var(--color-base-button-text);
    --cart-x: -48px;
    --cart-y: 0px;
    --cart-rotate: 0deg;
    --cart-scale: .75;
    --cart-clip: 0px;
    --cart-clip-x: 0px;
    --cart-tick-offset: 10px;
    --cart-tick-color: #FF328B;
    --shirt-y: -16px;
    --shirt-scale: 0;
    --shirt-color: var(--color-base-button-background);
    --shirt-logo: var(--color-base-button-text);
    --shirt-second-y: 24px;
    --shirt-second-color: var(--color-base-button-text);
    --shirt-second-logo: var(--color-base-button-background);
    position: relative;
    overflow: hidden;
  }

  .add-to-cart-animated:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    transition: background .25s;
    background: var(--background, var(--background-default));
    transform: scaleX(var(--background-scale)) translateZ(0);
  }

  .add-to-cart-animated:not(.active):hover {
    --background: var(--background-hover);
  }

  .add-to-cart-animated .add-to-cart-text {
    position: relative;
    z-index: 1;
    color: var(--text-color);
    opacity: var(--text-o);
    transform: translateX(var(--text-x)) translateZ(0);
  }

  .add-to-cart-animated svg {
    display: block;
    width: var(--svg-width, 24px);
    height: var(--svg-height, 24px);
    position: var(--svg-position, relative);
    left: var(--svg-left, 0);
    top: var(--svg-top, 0);
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .add-to-cart-animated svg path {
    fill: var(--svg-fill, none);
    stroke: var(--svg-stroke, none);
    stroke-width: var(--svg-stroke-width, 2);
  }

  .add-to-cart-animated .morph {
    --svg-width: 64px;
    --svg-height: 13px;
    --svg-left: 50%;
    --svg-top: -12px;
    --svg-position: absolute;
    --svg-fill: var(--background, var(--background-default));
    transition: fill .25s;
    pointer-events: none;
    margin-left: -32px;
  }

  .add-to-cart-animated .shirt,
  .add-to-cart-animated .cart {
    pointer-events: none;
    position: absolute;
    left: 50%;
  }

  .add-to-cart-animated .shirt {
    margin: -12px 0 0 -12px;
    top: 0;
    transform-origin: 50% 100%;
    transform: translateY(var(--shirt-y)) scale(var(--shirt-scale));
  }

  .add-to-cart-animated .shirt svg {
    --svg-fill: var(--shirt-color);
  }

  .add-to-cart-animated .shirt svg g {
    --svg-fill: var(--svg-g-fill, var(--shirt-logo));
  }

  .add-to-cart-animated .shirt svg.second {
    --svg-fill: var(--shirt-second-color);
    --svg-g-fill: var(--shirt-second-logo);
    --svg-position: absolute;
    clip-path: polygon(0 var(--shirt-second-y), 24px var(--shirt-second-y), 24px 24px, 0 24px);
  }

  .add-to-cart-animated .cart {
    --svg-width: 36px;
    --svg-height: 26px;
    --svg-stroke: var(--cart);
    top: 10px;
    margin-left: -18px;
    transform: translate(var(--cart-x), var(--cart-y)) rotate(var(--cart-rotate)) scale(var(--cart-scale)) translateZ(0);
  }

  .add-to-cart-animated .cart:before {
    content: '';
    display: block;
    width: 22px;
    height: 12px;
    position: absolute;
    left: 7px;
    top: 7px;
    background: var(--cart);
    clip-path: polygon(0 0, 22px 0, calc(22px - var(--cart-clip-x)) var(--cart-clip), var(--cart-clip-x) var(--cart-clip));
  }

  .add-to-cart-animated .cart path.wheel {
    --svg-stroke-width: 1.5;
  }

  .add-to-cart-animated .cart path.tick {
    --svg-stroke: var(--cart-tick-color);
    stroke-dasharray: 10px;
    stroke-dashoffset: var(--cart-tick-offset);
  }
{% endstylesheet %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.0/gsap.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/MorphSVGPlugin3.min.js"></script>
<script src="{{ 'add-to-cart-animation.js' | asset_url }}" defer></script>
